/* global html body settings */

*{
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

html{
    background-color:#E5E3D4;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}

body{
    max-width: 1200px;
    background-color: #E5E3D4;
    margin: 0 auto;
}

/* header settings */

#header-container{
    background-color: #9ABF80;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0 4rem 0;
}

#header-logo img{
    max-width: 200px;
}

#header-nav{
    display: flex;
}

#header-nav li{
    display: inline;
    margin: 0 1rem;
}

#header-nav a{
    font-family: "Cantata One", serif;
    font-size: 1.1rem;
    color: #1C325B;
    padding: 8px 10px;
}

#header-nav a:hover{
    background-color:#1C325B ;
    color: #9ABF80;
    border-radius: 7px;
}

/* main settings */

#main-container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: auto;
    gap: 2rem;
}

/* main intro settings */
#main-intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 1/3/5/23;
}

#main-intro img{
    max-width: 250px;
    border: 5px solid #9ABF80;
    border-radius: 50%;
}

#main-intro h1{
    text-align: center;
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    color: #1C325B;
}

/* main aside settings */

main aside{
    grid-area: 5/-13/8/-3;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main aside h2{
    color:#6A669D;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
}

main aside a{
    color: #1C325B;
    border: 1px solid transparent;
    text-decoration: underline;
}

aside .brackets{
    color:#9ABF80;
    font-size: 2rem;
}

main aside a:hover{
    background-color:#1C325B ;
    color: #9ABF80;
    border-radius: 5px;
    text-decoration: none;
}

/* main about me settings */

#about-me{
    grid-area: 5/3/28/12;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about-me hr{
    width: 60%;
}

#about-me h3{
    margin: 0.7rem 0 0.5rem 0;
    font-family: "Cantata One", serif;
}

#about-me ul{
    list-style: square;
    margin-left: 2rem;
}

#about-me-span{
    background-color:#9ABF80;
    padding: 1px 3px;
    border-radius: 5px;
    color:#1C325B
}

#about-me li{
    color: #6A669D;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#about-me h2{
    color: #1C325B;
    font-family: "Cantata One", serif;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


hr {
    height: 0; 
    border: 0; 
    border-top: 5px solid #9ABF80; 
  }

.pipe{
    color: #9ABF80;
    font-weight: 700 ;
}


#certification-container{
    display: flex;
}

#tech-skills{
    display: flex;
    flex-direction: column;
    grid-area: 8/-13/18/-3;
    border: 5px solid #9ABF80;
    border-radius: 15px;
    background-color: #6A669D;
    padding: 2rem 1rem;
    justify-content: center;
}
#tech-skills h2{
    font-family: "Cantata One", serif;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #9ABF80;
}
#tech-skills hr{
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#tech-skills ul{
    list-style: square;
    margin-left: 2rem;
}

#tech-skills li{
    color:#9ABF80;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0;
}

#tech-skills li strong{
    color: #1C325B
}


#professional-skills{
    display: flex;
    flex-direction: column;
    grid-area: 19/-13/28/-3;
    border: 5px solid #9ABF80;
    border-radius: 15px;
    background-color: #6A669D;
    padding: 2rem 1rem;
    justify-content: center;
}

#professional-skills h2{
    font-family: "Cantata One", serif;
    margin-left: 1rem;
    margin-top: 1rem;
    color: #9ABF80;
}
#professional-skills hr{
    width: 60%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#professional-skills ul{
    list-style: square;
    margin-left: 2rem;
}

#professional-skills li{
    color:#9ABF80;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0;
}

#professional-skills li strong{
    color: #1C325B
}

#contact{
    grid-area: 23/3/28/12;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

#contact ul{
    list-style: none;

}

#contact li{
    display: inline;
}


#contact li a{
    font-family: "Montserrat", sans-serif;
    display: inline;
    margin: 0 1rem;
    font-size: 1.2rem;
    background-color: #1C325B;
    color: #E5E3D4;
    padding: 2px 6px;
    border-radius: 5px;
}

#contact li a:hover{
    background-color: #9ABF80;
    color: #1C325B;
}

footer{
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background-color:#6A669D;
    color:#E5E3D4;
    margin: 2rem 0;
    font-family: "Cantata One", serif;
}

footer p{
    font-size: 0.75rem;
}

/* media settings */
   /*phones*/
   @media (max-width: 576px) {
    #header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        padding-bottom: 1rem;
    }
    #header-nav a{
        color: #9ABF80;
        background-color: #1C325B;
        border-radius: 7px;
    }
    
    #main-container aside{
        max-width: 350px;
    }



    #main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #main-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        gap: 2rem;
    }

    #about-me{
        max-width: 350px;
        display: flex;
        gap: 2rem;   
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    #about-me-div{
        width: 100%;
    }
    #about-me hr{
        width: 50%;
        margin-left: 25%;
        margin-top: 0.5rem;
    }

    #about-me h2{
        text-align: center;
    }

    #certification-container{
        flex-direction: column;
    }

    .about-me-container{
        width: 350px;
    }

    .about-me-container h3{
        text-align: left;
    }

    #about-me-span{
        padding: 10px 20px;
    }

    #tech-skills ul, #professional-skills ul{
        max-width: 350px;
    }


    footer{
        max-width: 400px;
        margin: 2rem auto;
        padding: 40px 19px;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
     }

     #contact ul li a{
        padding: 10px 10px;
        background-color: #9ABF80;
        color: #1C325B;
        font-weight: 800;
        margin: 5px;
     }

     #contact ul{
        margin-bottom: 10px;
     }

    

     html {
        font-size: 18px;
     }

  }
  
  /*tablets */
   @media (min-width: 577px) and (max-width: 768px) {
    #header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        padding-bottom: 2rem;
    }

    #header-nav a{
        color: #9ABF80;
        background-color: #1C325B;
        border-radius: 7px;
    }

    #main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-container aside{
        max-width: 550px;
    }

    #main-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 550px;
        gap: 2rem;
    }

    #about-me{
        max-width: 600px;
        display: flex;
        gap: 2rem;   
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    #about-me-div{
        width: 100%;
    }

    #about-me hr{
        width: 50%;
        margin-left: 25%;
        margin-top: 0.5rem;
    }

    #about-me h2{
        text-align: center;
    }

    #certification-container{
        flex-direction: column;
    }

    .about-me-container{
        max-width: 600px;
    }

    .about-me-container h3{
        text-align: left;
    }

    .about-me-container li{
        font-size: 1.1rem;
    }

    #about-me-span{
        padding: 10px 20px;
    }

    #tech-skills, #professional-skills {
        max-width: 600px;
    }


    footer{
        max-width: 620px;
        margin: 2rem auto;
        padding: 20px 19px;
        flex-direction: column;
        gap: 20px;
        border-radius: 5px;
     }

     #contact ul li a{
        padding: 10px 10px;
        background-color: #9ABF80;
        color: #1C325B;
        font-weight: 800;

     }

     html {
        font-size: 18px;
     }

  }
  /* 659 breakpoint */
  @media (max-width: 676px){
    #header-nav{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .about-me-container{
        max-width: 520px;
    }

    #tech-skills, #professional-skills{
        max-width: 520px;
    }

    footer{
        max-width: 520px;
    }
  }


  /* laptops */
  @media (min-width: 769px) and (max-width: 992px){

    #header-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        padding-bottom: 1rem;
        
    }
    #main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #main-container aside{
        max-width: 650px;
    }

    #main-intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 650px;
        gap: 2rem;
    }

    #about-me{
        max-width: 650px;
        display: flex;
        gap: 2rem;   
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    #about-me-div{
        width: 100%;
    }
    #about-me hr{
        width: 50%;
        margin-left: 25%;
        margin-top: 0.5rem;
    }

    #about-me h2{
        text-align: center;
    }

    #certification-container{
        flex-direction: column;
    }

    .about-me-container{
        width: 300px;
    }

    .about-me-container h3{
        text-align: left;
    }

    #about-me-span{
        padding: 10px 20px;
    }

    #tech-skills ul, #professional-skills ul{
        max-width: 600px;
    }


    footer{
        max-width: 650px;
        margin: 40px auto;
        padding: 30px 20px;
        flex-direction: column;
        gap: 40px;
        border-radius: 5px;
     }

     #contact ul li a{
        padding: 10px 10px;
     }

     html {
        font-size: 18px;
     }


  }

  /* desktops */
  @media (min-width: 993px){
     html {
        font-size: 20px;
    }
  }
  